*{
    font-family: sans-serif;
}
.br-1{
    border-radius: 30px;
}

.border_bottom{
    border-bottom: solid 1px black;
}
.font_kB{
    font-family: 'Kanit Medium';
    font-weight: 700;
}

.App{
    height: 100vh;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
}
.Navbar{
    flex: 0 1 auto;
}
.Space{
    flex: 1 1 auto;
}
.Footer{
    flex: 1 0 auto;
}